{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Frontend</title>
    <link rel="stylesheet" href="{% static 'backend/styles.css' %}">
</head>
<body>
    <h1>Hello, world!</h1>
    <p id="message"></p>
    <button onclick="fetchMessage()">Fetch Message</button>
    <button onclick="removeMessage()">Remove Message</button>
    <script src="{% static 'backend/scripts.js' %}"></script>
    
</body>
</html>