{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational platform</title>
    <link rel="stylesheet" href="{% static 'backend/styles.css' %}">
</head>
<body>
    <div class="title">    
        <h1>Educational Platform</h1>
        <div class="verify-container">       
            <label for="name">Name:</label>
            <input class="input" type="text" id="name" name="name">
            
            <label for="password">Password:</label>
            <input class="input" type="password" id="password" name="password">

            <button class="button" onclick="validateForm()">Sign in</button>
        </div>
        <p id="message" class="message"></p>
        <div class="button-container">
            <button class="button" onclick="fetchMessage()" >Fetch Message</button>
            <button class="button" onclick="removeMessage()">Remove Message</button>
        </div>
    </div>
    <script src="{% static 'backend/scripts.js' %}"></script>

</body>
</html>
